<input type="checkbox" id="check" >
<label for="check">
  <i class="fas fa-bars" id="btn" ></i>
  <i class="fas fa-times" id="cancel" ></i>
</label>
<div class="sidebar">
  <header> </header>
  <ul>
    <li ><a ><i class="fas fa-question-circle"></i>MOfertas</a></li>
    <li ><a ><i class="fas fa-question-circle"></i>Ofertas</a></li>
    <li ><a ><i class="fas fa-utensils"></i>Empresas</a></li>
    <li ><a ><i class="fas fa-search"></i>Mi Informacion</a></li>
    <li ><a ><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
  </ul>
</div>
<section>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</section>
