<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Gestion de Ofertas</h4>
            <p class="card-category"> Ofertas disponibles </p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th> ID </th>
                <th> Referencia </th>
                <th> Descripcion </th>
                <th> Estado Oferta </th>
                <th> Acciones </th>
                </thead>
                <tbody>
                <tr>
                  <td> 6 </td>
                  <td> Mason Porter </td>
                  <td> Chile </td>
                  <td> <span class="badge rounded-pill bg-success">Success</span> </td>
                  <td> <button type="button" class="btn btn-sm btn-secondary">Postularme</button> </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

