<footer class="bg-dark text-center text-white">
  <div class="container p-4">
    <section class="mb-4">

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-facebook-f"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-twitter"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-google"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-instagram"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-linkedin-in"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-github"></i
      ></a>
    </section>

    <section class="mb-4"> 
      <h2>Automatizamos procesos y ahorramos recursos.</h2> 
      
      <p>
       
        Especializados en desarrrollo de software y aplicaciones móviles, te ofrecemos una solución acorde a tus necesidades y con resultados efectivos que impulsarán tu negocio.
      </p>
    </section>

    <section class="">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">SERVICIOS</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Paginas Web</a>
            </li>
            <li>
              <a href="#!" class="text-white">Videojuegos</a>
            </li>
            <li>
              <a href="#!" class="text-white">Servidores</a>
            </li>
            <li>
              <a href="#!" class="text-white">Showcase</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">DESARROLLOS
            </h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">APIS</a>
            </li>
            <li>
              <a href="#!" class="text-white">SUPPORT</a>
            </li>
         
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">MÁS CONTACTOS</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">admin@devZeros.com</a>
            </li>
            <li>
              <a href="#!" class="text-white"> +57 333 000 0000</a>
            </li>
            <li>
              <a href="#!" class="text-white">Valledupar / Cesar</a>
            </li>
           
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <img src="../assets/zerow.jpg">
        </div>

      </div>

    </section>

  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="https://devzeros.com/">devzeros.com</a>
  </div>

</footer>

